In [ ]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


data = pd.read_csv("DOB_Job_Application_Filings.csv")
data.head()

In [3]:
data.columns

Index(['Job #', 'Doc #', 'Borough', 'House #', 'Street Name', 'Block', 'Lot',
       'Bin #', 'Job Type', 'Job Status', 'Job Status Descrp',
       'Latest Action Date', 'Building Type', 'Community - Board', 'Cluster',
       'Landmarked', 'Adult Estab', 'Loft Board', 'City Owned', 'Little e',
       'PC Filed', 'eFiling Filed', 'Plumbing', 'Mechanical', 'Boiler',
       'Fuel Burning', 'Fuel Storage', 'Standpipe', 'Sprinkler', 'Fire Alarm',
       'Equipment', 'Fire Suppression', 'Curb Cut', 'Other',
       'Other Description', 'Applicant's First Name', 'Applicant's Last Name',
       'Applicant Professional Title', 'Applicant License #',
       'Professional Cert', 'Pre- Filing Date', 'Paid', 'Fully Paid',
       'Assigned', 'Approved', 'Fully Permitted', 'Initial Cost',
       'Total Est. Fee', 'Fee Status', 'Existing Zoning Sqft',
       'Proposed Zoning Sqft', 'Horizontal Enlrgmt', 'Vertical Enlrgmt',
       'Enlargement SQ Footage', 'Street Frontage', 'ExistingNo. of Stories',
       'Proposed No. of Stories', 'Existing Height', 'Proposed Height',
       'Existing Dwelling Units', 'Proposed Dwelling Units',
       'Existing Occupancy', 'Proposed Occupancy', 'Site Fill', 'Zoning Dist1',
       'Zoning Dist2', 'Zoning Dist3', 'Special District 1',
       'Special District 2', 'Owner Type', 'Non-Profit', 'Owner's First Name',
       'Owner's Last Name', 'Owner's Business Name', 'Owner's House Number',
       'Owner'sHouse Street Name', 'City ', 'State', 'Zip', 'Owner'sPhone #',
       'Job Description', 'DOBRunDate', 'JOB_S1_NO',
       'TOTAL_CONSTRUCTION_FLOOR_AREA', 'WITHDRAWAL_FLAG', 'SIGNOFF_DATE',
       'SPECIAL_ACTION_STATUS', 'SPECIAL_ACTION_DATE', 'BUILDING_CLASS',
       'JOB_NO_GOOD_COUNT', 'GIS_LATITUDE', 'GIS_LONGITUDE',
       'GIS_COUNCIL_DISTRICT', 'GIS_CENSUS_TRACT', 'GIS_NTA_NAME', 'GIS_BIN'],
      dtype='object')

In [4]:
mask = data['Doc #'] == 1
data_doc1 = data[mask]
data_doc1.head()

,Job #,Doc #,Borough,House #,Street Name,Block,Lot,Bin #,Job Type,Job Status,...,SPECIAL_ACTION_STATUS,SPECIAL_ACTION_DATE,BUILDING_CLASS,JOB_NO_GOOD_COUNT,GIS_LATITUDE,GIS_LONGITUDE,GIS_COUNCIL_DISTRICT,GIS_CENSUS_TRACT,GIS_NTA_NAME,GIS_BIN
0,302181886,1,BROOKLYN,1414,WEST 4 STREET,6580,17,3424450,NB,X,...,N,NaN,D1,0,40.611742,-73.978426,44.0,434.0,Bensonhurst East,3173422.0
1,401620527,1,QUEENS,166-16,20 AVENUE,5751,12,4128968,A1,X,...,N,NaN,A1,0,40.779929,-73.797096,19.0,1017.0,Ft. Totten-Bay Terrace-Clearview,4128968.0
2,302343765,1,BROOKLYN,336,ST MARKS AVENUE,1153,23,3396401,A2,X,...,N,NaN,C1,0,40.677698,-73.964553,35.0,205.0,Prospect Heights,3396401.0
3,401624925,1,QUEENS,218-23,56 AVENUE,7404,124,4159229,A1,X,...,N,NaN,A1,0,40.751919,-73.761160,23.0,1441.0,Bayside-Bayside Hills,4159229.0
4,103828146,1,MANHATTAN,317,MADISON AVENUE,1277,20,1090825,A2,R,...,N,NaN,O4,0,40.753001,-73.978936,4.0,94.0,Midtown-Midtown South,1035349.0

In [5]:
data_doc1.dtypes

Job #                     int64
Doc #                     int64
Borough                  object
House #                  object
Street Name              object
                         ...
GIS_LONGITUDE           float64
GIS_COUNCIL_DISTRICT    float64
GIS_CENSUS_TRACT        float64
GIS_NTA_NAME             object
GIS_BIN                 float64
Length: 96, dtype: object